*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container{
  max-width: 950px;
  /* width: 70%; */
  margin: 0 auto;
}

.title{
  font-family: Helvetica, sans-serif;
  font-weight: 750;
  font-size: 30px;
  color: white;
}
.parag{
  font-family: Helvetica, sans-serif;
  font-size: 11px;
  color: white;
  line-height: 18px;
}

.button{
  background-color: white;
  font-family: Helvetica, sans-serif;
  font-size: 11px;
  color: black;
  border-radius: 15px;
  padding: 10px 15px
}

.bg-black{
  background-color: #25262A;
  color: white;
}

.button:hover{
  background-color: rgba(211, 211, 211, 0.596);
}

.bg-black:hover{
  background-color: #25262a8a;
}



/*************HEADER**************/
header .header-top{
height: 50px;
background-color: #3160E0;
}

header .header-top .logo img{
vertical-align: middle;
padding-top: 10px;
width: 80px;
}
  
header .header-hero{
  background-image: url(/img/jumbo.png);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 400px;
  block-size: auto;
}

header .row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}


header .row nav ul{
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

header .row nav ul li{
  padding: 10px 10px;
  margin: 0;
}

header a{
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  font-size: 11px;
  color: white;
  line-height: 18px;

}

header nav a{
  text-transform: capitalize;
}

.header-top .button{
  padding: 7px 10px;
  margin-top: 10px;
}

.hero{
  max-width: 500px;
  width: 65%;
  padding-top: 100px;
  text-align: center;
  align-items: center;
}

.header-hero .title, .header-hero .parag{
  color: white;
}

.hero .buttons ul{
  display: flex;
  align-content: center;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
}

.hero .buttons ul li{
 margin: 20px 10px;
  font-family: Helvetica, sans-serif;
}

/********************MAIN*********************/
main section{
  padding: 100px 0;
}

.pic{
  width: 60%;
  padding: 20px;
}

.pic img{
  max-width:100% ;
}

.txt{
  width: 40%;
  padding: 30px 9%;
}

.title,.c-black{
  color: black;
}

.parag,.c-black{
  color: black;
  margin-top: 20px;
}

#invito .row, #trovarsi .row, #fandom .row{
  display: flex;
  justify-content: center;
  margin: 0px auto;
}

#trovarsi .row .pic{
  order: 1;
}

#invito,#fandom{
  background-color: white;
}

#trovarsi,#tecnologia{
  background-color: #F6F6F6;
}

#tecnologia .container{
  text-align: center;
}

#tecnologia .parag{
  padding: 0 10%;
}

#tecnologia .stars{
  font-weight: 600;
  font-family:  Helvetica, sans-serif;
  line-height: 50px;
  background-image: url(/img/stars.svg);
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: center;
}

#tecnologia .button{
  display: inline-block;
  background-color: #8EA1E2;
  color: white;
  padding: 10px 20px;
}

#tecnologia .button:hover{
  background-color: #8ea1e29a;
}

#tecnologia img{
  max-width:100%;
}

/***************** FOOTER ********************/
footer{
  background-color: #23272A;
  color: white;
  font-family:  Helvetica, sans-serif;
  padding-top: 120px;
}

footer .row{
  display: flex;
  padding-bottom: 20px;
}

footer .contatti{
justify-content: space-between;
flex-wrap: wrap;
}

footer .end{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #57595F;
  padding: 20px 0 40px 0;
}

footer .contatti .col{
  min-width: calc(75% / 4);
  text-align: center;

}

footer .row .col:first-child{
  min-width: 170px;
  width: 25%;
  text-align: left;
}

footer .button{
  background-color: #8EA1E2;
  font-family: Helvetica, sans-serif;
  font-size: 11px;
  color: white;
  border-radius: 15px;
  padding: 7px 10px;
  margin-top: 5px;
}

footer .title{
  color: #8EA1E2;
  font-size: 25px;
  font-weight: 800;
}

footer .footer-col{
list-style-type: none;
line-height: 25px;
font-size: 11px;
}

footer .footer-col li:first-child{
  color: #8EA1E2;
}

footer .footer-t{
 margin: 10px 0;   
 word-spacing: 5px; 
 font-size: 11px;
} 

footer .icons{
word-spacing: 10px;
}

footer .footer-t::before{
content: url(/img/ita.png);
/* transform: scale(.2); */
}

.end img{
  vertical-align: middle;
  padding-top: 15px;
  width: 80px;
}